
body {
    background-color: gray;
}

.bg {background-image: url('.images/pastries.jpeg');
background-repeat: no-repeat;}

.bg-image {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 25px;
font-weight: bold;}

.carousel-item {
    height: 500px; 
}

.overlay-text {
    position: absolute;
    top: 50%; /* Adjust to vertically center the text */
    left: 50%; /* Adjust to horizontally center the text */
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better readability */
    color: #fff; /* Text color */
    padding: 10px; /* Adjust as needed */
    text-align: center; /* Center-align the text */
}



#navbarNav {background-color: white;}

h5 p {color: white;}