
body {
    background-color: gray;
}
.navbar {background-color: #fff;
padding-right: 25px;}

.navbar-brand {font-size: large;
color: #fff;}

.container-fluid {padding: 10px 10px 0 0 ;}


.overlay-text {
    position: absolute;
    top: 50%; /* Adjust to vertically center the text */
    left: 50%; /* Adjust to horizontally center the text */
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better readability */
    color: #fff; /* Text color */
    padding: 10px; /* Adjust as needed */
    text-align: center; /* Center-align the text */
}

li {list-style-type: none;}



#navbarNav {background-color: white;}

h5 p {color: white;}